@import 'homepage'

.container-fluid 
   padding: 0px
    
.navbar
    background-color: rgba(0, 0, 0, 0.3)

.headerSection
    overflow: hidden
    margin-bottom: 40px

    img
        width: 100%

h1
    text-align: center
    margin-bottom: 40px


#navbarNav
    margin-top: -90px

    li
        margin: 0 20px 0 20px
        font-size: 25px

*
    font-family: 'EB Garamond', serif

@media screen and (max-width: 992px)
    #navbarNav
        margin-top: 0
        text-align: center