@import 'homepage'

.container-fluid 
   padding: 0px

#navbarNav
    margin-top: -90px

    li
        margin: 0 20px 0 20px
        font-size: 25px

.navbar-toggler
    background-image: url('/images/icons/navicon.svg')

*
    font-family: 'EB Garamond', serif

@media screen and (max-width: 992px)
    #navbarNav
        margin-top: 0
        text-align: center