.homepageImg {
  width: 100%; }

.container-fluid {
  padding: 0px; }

#navbarNav {
  margin-top: -90px; }
  #navbarNav li {
    margin: 0 20px 0 20px;
    font-size: 25px; }

* {
  font-family: 'EB Garamond', serif; }

@media screen and (max-width: 768px) {
  #navbarNav {
    margin-top: 0;
    text-align: center; } }
