.homepageImg {
  width: 100%; }

a {
  color: white; }
  a:hover {
    color: #89114c; }

.container-fluid {
  padding: 0px; }

.navbar {
  background-color: rgba(0, 0, 0, 0.5); }
  .navbar img {
    width: 130px; }

.headerSectionPort {
  background-image: url("../images/headers/portraits.jpg");
  background-size: cover;
  background-position: center; }

.headerSectionHome {
  background-image: url("../images/homepage/heroimage1.jpg");
  background-size: cover;
  background-position: center; }

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #89114c; }

.headerSection {
  overflow: hidden;
  margin-bottom: 40px;
  text-align: center;
  width: 100vw;
  height: 100vh; }

#navbarNav li {
  margin: 0 20px 0 20px;
  font-size: 25px; }

* {
  font-family: 'EB Garamond', serif; }

.backgroundGlobal {
  background-repeat: no-repeat; }

.flexCommonDown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.tempFill {
  background-position: top -500px center;
  min-height: 100%;
  height: 100%;
  text-align: center;
  background-image: url("../images/tempconst/tempconstimagecomp.jpg");
  margin: 0;
  width: 100%;
  color: white;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(137, 17, 76, 0.8);
  box-shadow: inset 0 0 0 1000px rgba(137, 17, 76, 0.8); }
  .tempFill i {
    font-size: 32px;
    margin: 0 10px 0 10px;
    cursor: pointer; }
    .tempFill i:hover {
      color: rgba(255, 255, 255, 0.5);
      -webkit-transition-duration: .25s;
      -o-transition-duration: .25s;
      transition-duration: .25s; }
  .tempFill img {
    max-width: 350px;
    width: 100%; }
  .tempFill h1 {
    margin-bottom: 10px;
    color: white-space; }
  .tempFill h4 {
    margin-bottom: 30px; }

@media screen and (max-width: 992px) {
  #navbarNav {
    margin-top: 0;
    text-align: center; } }
