doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet")
  body
    nav.navbar.navbar-expand-lg.navbar-light.fixed-top
      a.navbar-brand.navbar-left(href='#') 
        img(src="/images/logo/logowhite.png")
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='#')
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#').text-white About Us
          li.nav-item
            a.nav-link(href='#').text-white Portfolio
          li.nav-item
            a.nav-link.disabled(href='#').text-white Investment


    .container-fluid
      block content

      footer
        .row
          .col-xs-12
            small &copy; Tristan Norton 2017
    script(src='/javascripts/jquery-3.2.1.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js")
    script(src='/bootstrap/js/bootstrap.min.js')
  
