extends layout

block content
  .container-fluid.headerSection.headerSectionPort.backgroundGlobal.flexCommonDown
  h1.col-lg-12.col-md-12.col-sm-12.col-xs-12 Portfolio
  .row
    .col-lg-4.col-sm-6
      img(src='/images/portfolio/babyportthumb.jpg').img-fluid
    .col-lg-4.col-sm-6
      img(src='/images/portfolio/portportthumb.jpg').img-fluid
    .col-lg-4.col-sm-6
      img(src='/images/portfolio/wedportthumb.jpg').img-fluid