extends layout

#portOverlay
block content
  #portOverlay
    img(src='')#portItemDisplay
  .container-fluid.portContain
    h1= title
    .galleryFrame
      each engagementPhotos in di
        img(src= engagementPhotos).thumbImage
  