html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet")


  body.container-fluid.tempFill.backgroundGlobal.flexCommonDown
      .container
        img(src='/images/tempconst/logo.png')
        h1 New website under construction.
        h4 To view our work and to contact us, visit our social media or email us.
        .col-lg-12 
          a(href="https://www.facebook.com/Theklphoto/")
            i.fa.fa-facebook-official
          a(href="https://www.instagram.com/theklphoto/")
            i.fa.fa-instagram
          a(href="mailto:contact@theklphoto.com")
            i.fa.fa-envelope

    script(src='/javascripts/jquery-3.2.1.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js")
    script(src='/bootstrap/js/bootstrap.min.js')